body {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    /* overflow: hidden; */
    overflow-x: hidden;
    z-index: 999;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    background-color: #ececec;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box;
    z-index: -1;
    opacity: 0.8;
}

.loader {
    display: none;
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
    z-index: 99999;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* border: 3px solid rgb(68, 68, 68); */
    border-width: 3px;
    border-color: rgb(214, 214, 214);
    border-style: ridge;
}

.loader .image {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    object-fit: cover;
}

.loader .text {
    display: block;
    margin: 0px !important;
    padding: 0px !important;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
    text-indent: 0px;
    letter-spacing: 1px;
}

.loader.active {
    display: block;
}